.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
.activeNav {
  color: #555 !important;
  background-color: #e7e7e7 !important; }

.contactItem {
  border: 2px solid #222222;
  margin-top: 15px; }

.cont-img-wrap {
  display: inline-block;
  margin-right: 50px; }

.cont-img-wrap img {
  height: 100px;
  width: 100px;
  border-radius: 50%; }

.contactItem:hover {
  background-color: #F4FFEC; }

.contDesc {
  display: inline-block; }

.contLabel {
  font-weight: bold; }

.contActionButtons {
  margin-left: 25px;
  display: inline-block; }

.searchInput {
  display: inline-block; }

.contSearch {
  display: inline-block; }

.timerItem {
  text-align: center;
  border: 1px solid black; }

.login-form {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  height: 100%;
  text-align: center; }
  .login-form .login-form-wrap {
    padding: 25px 20px 25px;
    background-color: rgba(45, 60, 76, 0.9);
    max-width: 320px;
    margin: auto;
    position: relative;
    left: 0;
    color: #f3f3f3;
    margin-top: 110px; }
    .login-form .login-form-wrap h2 {
      padding: 10px;
      margin-top: 0;
      line-height: 45px; }
    .login-form .login-form-wrap .form-item {
      text-align: left;
      margin-left: 25px; }
      .login-form .login-form-wrap .form-item label {
        font-weight: normal;
        text-align: left;
        margin-top: 10px; }
      .login-form .login-form-wrap .form-item input {
        background-color: #1a232d;
        padding: 10px 30px 10px 5px;
        margin-top: 8px;
        border-top: 4px solid #11161d !important;
        transition: all .7s ease;
        border-bottom: 4px solid transparent !important;
        border: none; }
        .login-form .login-form-wrap .form-item input:hover {
          border-bottom: 4px solid #449d44 !important; }
        .login-form .login-form-wrap .form-item input:focus {
          border-bottom: 4px solid #449d44 !important; }
    .login-form .login-form-wrap button {
      margin-top: 20px; }
    .login-form .login-form-wrap span {
      color: #449d44;
      cursor: pointer; }
      .login-form .login-form-wrap span:hover {
        text-decoration: underline; }
    .login-form .login-form-wrap .exit-button {
      position: absolute;
      right: 15px;
      top: 15px;
      height: 40px;
      width: 40px;
      padding-top: 3px;
      cursor: pointer;
      transition: all .5s ease;
      font-size: 25px; }
      .login-form .login-form-wrap .exit-button:hover {
        background-color: #449d44; }
    .login-form .login-form-wrap h5 {
      margin-top: 15px; }
  .login-form .back-button {
    left: 15px;
    font-size: 25px; }

.user-account {
  cursor: pointer; }

.error input {
  border: 1px solid red !important; }

/*# sourceMappingURL=App.css.map */
